In [1]:
import os

In [2]:
os.getcwd()

'/home/jale/Documents/hydra'

In [3]:
import pandas, numpy
from runners.novelty_experiment_runner_sb import NoveltyExperimentRunnerSB
from os import path
import settings
from runners import constants
import seaborn as sns
import matplotlib.pyplot as plt

importing local settings
/home/jale/miniconda3/envs/hydra/lib/python3.7/site-packages/torch/cuda/__init__.py:52: UserWarning: CUDA initialization: Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/index.aspx (Triggered internally at  /opt/conda/conda-bld/pytorch_1603729047590/work/c10/cuda/CUDAFunctions.cpp:100.)
  return torch._C._cuda_getDeviceCount() > 0

# Novelty experiment

In [4]:
results_file_2 = open(path.join(settings.ROOT_PATH, "runners", "experiments", "ScienceBirds", "SB_experiment", "novelty_results_2021_6_9.csv"), "r")
dataframe2 = NoveltyExperimentRunnerSB.categorize_examples_for_novelty_detection(pandas.read_csv(results_file_2))

In [5]:
results_file_3 = open(path.join(settings.ROOT_PATH, "runners", "experiments", "ScienceBirds", "SB_experiment", "baseline_performance.csv"), "r")

dataframe3 = NoveltyExperimentRunnerSB.categorize_examples_for_novelty_detection(pandas.read_csv(results_file_3))

In [6]:
dataframe2

,episode_num,novelty_probability,novelty_threshold,novelty,novelty_characterization,performance,notify_novelty,pass,episode_type,trial_num,novelty_id,trial_type,level,predicted_novel,TN,FP,TP,FN
0,0,0,1,0,0,54240,False,Fail,non-novelty-performance,0,1_6_0,unknown,1,False,1,0,0,0
1,1,0,1,0,0,103320,False,Pass,non-novelty-performance,0,1_6_0,unknown,1,False,1,0,0,0
2,2,0,1,0,0,19420,False,Fail,non-novelty-performance,0,1_6_0,unknown,1,False,1,0,0,0
3,3,0,1,0,0,35090,False,Fail,non-novelty-performance,0,1_6_0,unknown,1,False,1,0,0,0
4,4,0,1,0,0,34000,False,Fail,non-novelty-performance,0,1_6_0,unknown,1,False,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,20,0,1,0,0,0,False,Fail,novelty,23,3_7_23,known,3,False,0,0,0,1
596,21,0,1,0,0,0,False,Fail,novelty,23,3_7_23,known,3,False,0,0,0,1
597,22,0,1,0,0,0,False,Fail,novelty,23,3_7_23,known,3,False,0,0,0,1
598,23,0,1,0,0,0,False,Fail,novelty,23,3_7_23,known,3,False,0,0,0,1
599,24,0,1,0,0,0,False,Fail,novelty,23,3_7_23,known,3,False,0,0,0,1

In [7]:
trials,cdt = NoveltyExperimentRunnerSB.get_trials_summary(dataframe2)
print(trials)
print(cdt)

                                 FN  FP  TN  TP  performance  passed  is_CDT
trial_type novelty_id trial_num
known      1_10_16    16          9   0   5  11      53462.4       6    True
           1_6_12     12          1   0   5  19      34053.2       6    True
           1_7_13     13          5   0   5  15      59996.4      12    True
           1_8_14     14          3   0   5  17      44808.0       6    True
           1_9_15     15          5   0   5  15      46884.0      14    True
           2_10_21    21          1   0   5  19      40607.2       6    True
           2_6_17     17          2   0   5  18      41564.0       6    True
           2_7_18     18          9   0   5  11      46172.8       8    True
           2_8_19     19         20   0   5   0      41615.2       5   False
           2_9_20     20         10   0   5  10      36707.6       4    True
           3_6_22     22         16   0   5   4      37022.0       9    True
           3_7_23     23         20   0   5   0       5145.6       2   False
unknown    1_10_4     4          20   0   5   0      48117.6       6   False
           1_6_0      0           2   0   5  18      52037.2       8    True
           1_7_1      1           5   0   5  15      54012.4       9    True
           1_8_2      2           3   0   5  17      42768.0       9    True
           1_9_3      3          14   0   5   6      37216.4      10    True
           2_10_9     9           0   1   4  20      43059.2       9   False
           2_6_5      5          20   0   5   0      41501.6      11   False
           2_7_6      6          10   0   5  10      40469.2      11    True
           2_8_7      7           0   3   2  20      37998.8       2   False
           2_9_8      8           0   0   5  20      49859.2       7    True
           3_6_10     10          8   0   5  12      36723.2       9    True
           3_7_11     11         20   0   5   0      11733.2       3   False
                                 FN  FP  TN  TP  performance  passed  is_CDT
trial_type novelty_id trial_num
known      1_10_16    16          9   0   5  11      53462.4       6    True
           1_6_12     12          1   0   5  19      34053.2       6    True
           1_7_13     13          5   0   5  15      59996.4      12    True
           1_8_14     14          3   0   5  17      44808.0       6    True
           1_9_15     15          5   0   5  15      46884.0      14    True
           2_10_21    21          1   0   5  19      40607.2       6    True
           2_6_17     17          2   0   5  18      41564.0       6    True
           2_7_18     18          9   0   5  11      46172.8       8    True
           2_9_20     20         10   0   5  10      36707.6       4    True
           3_6_22     22         16   0   5   4      37022.0       9    True
unknown    1_6_0      0           2   0   5  18      52037.2       8    True
           1_7_1      1           5   0   5  15      54012.4       9    True
           1_8_2      2           3   0   5  17      42768.0       9    True
           1_9_3      3          14   0   5   6      37216.4      10    True
           2_7_6      6          10   0   5  10      40469.2      11    True
           2_9_8      8           0   0   5  20      49859.2       7    True
           3_6_10     10          8   0   5  12      36723.2       9    True
/home/jale/Documents/hydra/runners/novelty_experiment_runner_sb.py:322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trials['passed'] = numpy.where(trials['pass'] == 'Pass', 1, 0)

In [8]:
baseline_trials, baseline_cdt = NoveltyExperimentRunnerSB.get_trials_summary(dataframe3)

print(baseline_trials)

                                 FN  FP  TN  TP  performance  passed  is_CDT
trial_type novelty_id trial_num
known      1_10_16    16         20   0   5   0      56623.2       9   False
           1_6_12     12         20   0   5   0      49106.8       8   False
           1_7_13     13         20   0   5   0      57386.8       7   False
           1_8_14     14         20   0   5   0      44127.2       9   False
           1_9_15     15         20   0   5   0      46349.6      11   False
           2_10_21    21         20   0   5   0      38782.0       6   False
           2_6_17     17         20   0   5   0      57654.8      14   False
           2_7_18     18         20   0   5   0      34568.8       8   False
           2_8_19     19         20   0   5   0      46986.0      10   False
           2_9_20     20         20   0   5   0      54062.4      11   False
           3_6_22     22         20   0   5   0      12262.8       2   False
           3_7_23     23         20   0   5   0       8806.8       3   False
unknown    1_10_4     4          20   0   5   0      52708.4       7   False
           1_6_0      0          20   0   5   0      58817.6      13   False
           1_7_1      1          20   0   5   0      54252.4      12   False
           1_8_2      2          20   0   5   0      49692.4       9   False
           1_9_3      3          20   0   5   0      31822.4      12   False
           2_10_9     9          20   0   5   0      36392.0       7   False
           2_6_5      5          20   0   5   0      41782.0      15   False
           2_7_6      6          20   0   5   0      44752.8       6   False
           2_8_7      7          20   0   5   0      48640.0       9   False
           2_9_8      8          20   0   5   0      48939.6      12   False
           3_6_10     10         20   0   5   0       7671.6       2   False
           3_7_11     11         20   0   5   0       6744.8       1   False
/home/jale/Documents/hydra/runners/novelty_experiment_runner_sb.py:322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trials['passed'] = numpy.where(trials['pass'] == 'Pass', 1, 0)

In [9]:
metrics, performance_metrics = NoveltyExperimentRunnerSB.get_program_metrics(cdt, trials, dataframe2, dataframe3)

grouped_trials = dataframe2[['trial_num', 'trial_type', 'episode_type', 'performance']].groupby("trial_num")
grouped_base = dataframe3[['trial_num', 'trial_type', 'episode_type', 'performance']].groupby("trial_num")

trials_known_avg = []   # M3
trials_unknown_avg = [] # M4
trials_last = []        # M5
for trial_num, group in grouped_trials:
    if 'known' in group.values: # group.trial_type: # M3
        known_avg = group.groupby(["trial_type", "episode_type"]).get_group(("known", "novelty")).agg({'performance': numpy.mean })
        trials_known_avg.append(known_avg)

    if 'unknown' in group.values: # group.trial_type: # M4
        unknown_avg = group.groupby(["trial_type", "episode_type"]).get_group(("unknown", "novelty")).agg({'performance': numpy.mean })
        trials_unknown_avg.append(unknown_avg)

    # M5
    last_per_group = group.groupby("episode_type").get_group("novelty").tail(1)
    trials_last.append(last_per_group)

m3_agg_trials = pandas.concat(trials_known_avg, sort=True).reset_index()
m4_agg_trials = pandas.concat(trials_unknown_avg, sort=True).reset_index()
m5_agg_trials = pandas.concat(trials_last, sort=True)

base_known_avg = []     # M3
base_unknown_avg = []   # M4
base_last = []          # M5
for trial_num, group in grouped_base:
    if 'known' in group.values: # group.trial_type:    # M3
        known_avg = group.groupby(["trial_type", "episode_type"]).get_group(("known", "non-novelty-performance")).agg({'performance': numpy.mean })
        base_known_avg.append(known_avg)

    if 'unknown' in group.values: # group.trial_type:    # M4
        unknown_avg = group.groupby(["trial_type", "episode_type"]).get_group(("unknown", "non-novelty-performance")).agg({'performance': numpy.mean })
        base_unknown_avg.append(unknown_avg)

    # M5
    last_per_group = group.groupby("episode_type").get_group("novelty").tail(1)
    base_last.append(last_per_group)

m3_agg_base = pandas.concat(base_known_avg, sort=True).reset_index()
m4_agg_base = pandas.concat(base_unknown_avg, sort=True).reset_index()
m5_agg_base = pandas.concat(base_last, sort=True)

m3_agg_trials['known_perf'] = m3_agg_trials[0] / m3_agg_base[0] 
m4_agg_trials['unknown_perf'] = m4_agg_trials[0] / m4_agg_base[0]
m5_agg_trials['opti_t'] = m5_agg_trials['performance'] / (m5_agg_base['performance'] + m5_agg_trials['performance'])

# performance_metrics = pandas.DataFrame(columns=['M3', 'M4', 'M5', 'M6'])
# performance_metrics['M3'] = m3_agg_trials.agg({'known_perf': numpy.mean})# ['known_perf']
# performance_metrics['M4'] = m4_agg_trials.agg({'unknown_perf': numpy.mean})['unknown_perf']
# performance_metrics['M5'] = m5_agg_trials.agg({'opti_t': numpy.sum}).iloc[0] / len(m5_agg_trials.index)

print(metrics)

print("------------------------------------------------------------")

print(performance_metrics)

KeyError: 'episode_type'

# Experiment Results - Pass / No Pass performance of Agent

In [ ]:
plt.figure(figsize=(16, 9))
ax = sns.lineplot(data=trials, y='passed', x='trial_num', hue='trial_type')
ax.set(ylim=(0, 25))
plt.title("Experiment performance (pass/no pass)", fontsize=20)
plt.xlabel("trial number", fontsize=15)
plt.ylabel("passed episodes", fontsize=15)

# Experiment Results - Rewards

In [ ]:
NoveltyExperimentRunnerSB.plot_experiment_results(dataframe2, 5)

# Science Birds Baseline Performance

In [ ]:
NoveltyExperimentRunnerSB.plot_experiment_results(dataframe3, 5)

# Level 2 Type 8 Experiment - Non repairing Hydra agent

In [ ]:
results_file_4 = open(path.join(settings.ROOT_PATH, "runners", "experiments", "ScienceBirds", "SB_experiment", "level2_type8_novelties.csv"), "r")

dataframe4 = NoveltyExperimentRunnerSB.categorize_examples_for_novelty_detection(pandas.read_csv(results_file_4))

In [ ]:
dataframe4

In [ ]:
trials4,cdt4 = NoveltyExperimentRunnerSB.get_trials_summary(dataframe4)
print(trials4)
print(cdt4)

In [ ]:
metrics4 = NoveltyExperimentRunnerSB.get_program_metrics(cdt4, trials4)

print(metrics4)

In [ ]:
NoveltyExperimentRunnerSB.plot_experiment_results(dataframe4, 5)

In [ ]:
compound = pandas.concat([dataframe2, dataframe4])
compound

In [ ]:
NoveltyExperimentRunnerSB.plot_experiment_results(compound, 5)