In [114]:
import pandas
import numpy
from utils.learn_novelty_detection_ensemble import ColumnName
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.ensemble import AdaBoostClassifier

#### Experiments
- dataframe2 has data from all non-novelty levels and all novelty levels (both phase 1 and 2).
- dataframe3 has data from all non-novelty levels and phase 2 novelty levels.

In [153]:

dataframe2 = pandas.read_csv("/home/smohan/SAIL-ON/hydra/data/science_birds/novelty_detection/ensemble_learning_all_levels.csv")
X2 = dataframe2[feature_cols]
y2 = dataframe2['ColumnName.GROUND_TRUTH']
X_train2,X_test2,y_train2,y_test2=train_test_split(X2,y2,test_size=0.10)


logreg2 = LogisticRegression()
logreg2.fit(X_train2,y_train2)
y_pred2_log=logreg2.predict(X_test2)
report2_log = classification_report(y_test2, y_pred2_log)
print(report2)

rf2 = RandomForestClassifier(n_estimators=20)
rf2.fit(X_train2,y_train2)
y_pred2_rf=logreg.predict(X_test2)
report2_rf = classification_report(y_test2, y_pred2_rf)
print(report2_rf)

ab2 = AdaBoostClassifier(n_estimators=100)
ab2.fit(X_train2,y_train2)
y_pred2_ab=ab2.predict(X_test2)
report2_ab = classification_report(y_test2, y_pred2_ab)
print(report2_ab)

              precision    recall  f1-score   support

           0       0.47      0.40      0.43       101
           1       0.73      0.79      0.76       212

    accuracy                           0.66       313
   macro avg       0.60      0.59      0.59       313
weighted avg       0.65      0.66      0.65       313

              precision    recall  f1-score   support

           0       0.45      0.84      0.58        50
           1       0.74      0.31      0.43        75

    accuracy                           0.52       125
   macro avg       0.59      0.57      0.51       125
weighted avg       0.62      0.52      0.49       125

              precision    recall  f1-score   support

           0       0.69      0.66      0.67        50
           1       0.78      0.80      0.79        75

    accuracy                           0.74       125
   macro avg       0.73      0.73      0.73       125
weighted avg       0.74      0.74      0.74       125

In [157]:
dataframe3 = pandas.read_csv("/home/smohan/SAIL-ON/hydra/data/science_birds/novelty_detection/ensemble_learning_3.csv")
X3 = dataframe3[feature_cols]
y3 = dataframe3['ColumnName.GROUND_TRUTH']
X_train3,X_test3,y_train3,y_test3=train_test_split(X3,y3,test_size=0.20)


logreg3 = LogisticRegression()
logreg3.fit(X_train3,y_train3)
y_pred3_log=logreg3.predict(X_test3)
report3_log = classification_report(y_test3, y_pred3_log)
print(report3_log)


rf3 = RandomForestClassifier(n_estimators=20)
rf3.fit(X_train3,y_train3)
y_pred3_rf=rf3.predict(X_test3)
report3_rf = classification_report(y_test3, y_pred3_rf)
print(report3_rf)

ab3 = AdaBoostClassifier(n_estimators=100)
ab3.fit(X_train3,y_train3)
y_pred3_ab=ab3.predict(X_test3)
report3_ab = classification_report(y_test3, y_pred3_ab)
print(report3_ab)

              precision    recall  f1-score   support

           0       0.82      0.81      0.81        93
           1       0.53      0.54      0.53        37

    accuracy                           0.73       130
   macro avg       0.67      0.67      0.67       130
weighted avg       0.73      0.73      0.73       130

              precision    recall  f1-score   support

           0       0.84      0.87      0.85        93
           1       0.64      0.57      0.60        37

    accuracy                           0.78       130
   macro avg       0.74      0.72      0.73       130
weighted avg       0.78      0.78      0.78       130

              precision    recall  f1-score   support

           0       0.86      0.91      0.89        93
           1       0.74      0.62      0.68        37

    accuracy                           0.83       130
   macro avg       0.80      0.77      0.78       130
weighted avg       0.83      0.83      0.83       130

In [159]:
y_train_all_test_2_log = logreg2.predict(X_test3)
report_train_all_test_phaseII_log = classification_report(y_test3, y_train_all_test_2_log)
print(report_train_all_test_phaseII_log)

y_train_all_test_2_rf = rf2.predict(X_test3)
report_train_all_test_phaseII_rf = classification_report(y_test3, y_train_all_test_2_rf)
print(report_train_all_test_phaseII_rf)


y_train_all_test_2_ab = ab2.predict(X_test3)
report_train_all_test_phaseII_ab = classification_report(y_test3, y_train_all_test_2_ab)
print(report_train_all_test_phaseII_ab)

              precision    recall  f1-score   support

           0       1.00      0.10      0.18        93
           1       0.31      1.00      0.47        37

    accuracy                           0.35       130
   macro avg       0.65      0.55      0.32       130
weighted avg       0.80      0.35      0.26       130

              precision    recall  f1-score   support

           0       0.98      0.98      0.98        93
           1       0.95      0.95      0.95        37

    accuracy                           0.97       130
   macro avg       0.96      0.96      0.96       130
weighted avg       0.97      0.97      0.97       130

              precision    recall  f1-score   support

           0       0.83      0.82      0.82        93
           1       0.55      0.57      0.56        37

    accuracy                           0.75       130
   macro avg       0.69      0.69      0.69       130
weighted avg       0.75      0.75      0.75       130

In [174]:
dataframe = pandas.read_csv("/home/smohan/SAIL-ON/hydra/data/science_birds/novelty_detection/ensemble_learning_all_levels.csv")
dataframe_phaseII_novelty = dataframe[dataframe['ColumnName.LEVEL'] > 10]
dataframe_phaseI_novelty_and_non = dataframe[dataframe['ColumnName.LEVEL'] < 10]

df_1 = dataframe_phaseII_novelty.sample(frac = 0.5)
df_final_validation = dataframe_phaseII_novelty.drop(df_1.index)

,Unnamed: 0,ColumnName.LEVEL,ColumnName.TYPE,ColumnName.HAS_NOVEL_OBJECT,ColumnName.MAX_REWARD_DIFFERENCE,ColumnName.AVG_REWARD_DIFFERENCE,ColumnName.MAX_PDDL_INCONSISTENCY,ColumnName.AVG_PDDL_INCONSISTENCY,ColumnName.HYDRA_NOVELTY_DETECTED,ColumnName.GROUND_TRUTH
450,450,25,1,0,0.026904,0.026904,75.000000,75.000000,1,1
453,453,25,1,0,0.074946,0.074946,0.000000,0.000000,0,1
454,454,25,1,0,0.029569,0.029569,58.333333,58.333333,1,1
457,457,25,1,0,0.043009,0.043009,0.000000,0.000000,0,1
458,458,25,1,0,0.087719,0.087719,83.333333,83.333333,1,1
...,...,...,...,...,...,...,...,...,...,...
1241,1241,23,1,0,0.054431,0.054431,0.000000,0.000000,0,1
1243,1243,23,1,0,0.060444,0.060444,66.666667,33.333333,0,1
1247,1247,23,1,0,0.175068,0.175068,0.000000,0.000000,0,1
1248,1248,23,1,0,0.203127,0.203127,100.000000,50.000000,0,1
1249,1249,23,1,0,0.237192,0.237192,66.666667,33.333333,0,1

In [177]:
dataframe_final_training = dataframe_phaseI_novelty_and_non.append(df_1, ignore_index=True)

In [178]:
dataframe_final_training

,Unnamed: 0,ColumnName.LEVEL,ColumnName.TYPE,ColumnName.HAS_NOVEL_OBJECT,ColumnName.MAX_REWARD_DIFFERENCE,ColumnName.AVG_REWARD_DIFFERENCE,ColumnName.MAX_PDDL_INCONSISTENCY,ColumnName.AVG_PDDL_INCONSISTENCY,ColumnName.HYDRA_NOVELTY_DETECTED,ColumnName.GROUND_TRUTH
0,0,0,25,0,0.144438,0.144438,0.000000,0.000000,0,0
1,1,0,25,0,0.434202,0.434202,66.666667,33.333333,0,0
2,2,0,25,0,0.060583,0.060583,0.000000,0.000000,0,0
3,3,0,25,0,0.069359,0.069359,66.666667,63.055556,1,0
4,4,0,25,0,0.576746,0.576746,60.000000,30.000000,0,0
...,...,...,...,...,...,...,...,...,...,...
1145,552,22,1,1,0.019924,0.019924,1000.000000,1000.000000,1,1
1146,1234,23,1,0,0.067783,0.067783,66.666667,33.333333,0,1
1147,566,22,1,0,0.041271,0.041271,75.000000,75.000000,1,1
1148,1205,23,1,0,0.039118,0.039118,0.000000,0.000000,0,1
1149,461,25,1,0,0.118596,0.118596,0.000000,0.000000,0,1

In [182]:
X_final = dataframe_final_training[feature_cols]
y_final = dataframe_final_training['ColumnName.GROUND_TRUTH']
X_train_f,X_test_f,y_train_f,y_test_f=train_test_split(X_final, y_final,test_size=0.20)
rf_final = RandomForestClassifier(n_estimators=20)
rf_final.fit(X_train_f,y_train_f)
y_pred_f_rf=rf_final.predict(X_test_f)
report_f_rf = classification_report(y_test_f, y_pred_f_rf)
print(report_f_rf)

              precision    recall  f1-score   support

           0       0.58      0.62      0.60        84
           1       0.77      0.75      0.76       146

    accuracy                           0.70       230
   macro avg       0.68      0.68      0.68       230
weighted avg       0.70      0.70      0.70       230

In [185]:
X_validation = dataframe_phaseII_validation[feature_cols]
y_validation = dataframe_phaseII_validation['ColumnName.GROUND_TRUTH']
y_pred_validation = rf_final.predict(X_validation)
report_validation = classification_report(y_validation, y_pred_validation)
print(report_validation)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.76      0.86       200

    accuracy                           0.76       200
   macro avg       0.50      0.38      0.43       200
weighted avg       1.00      0.76      0.86       200

/home/smohan/anaconda3/envs/hydra/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/smohan/anaconda3/envs/hydra/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/smohan/anaconda3/envs/hydra/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))